# Django Security
SECRET_KEY="django-insecure-ваша_секретна_строка"

# Database (Optionally configure Postgres here for production)
# DATABASE_URL="postgres://user:pass@host:port/dbname"

# Telegram Notifications
# Знайдіть @BotFather у Telegram та створіть нового бота
TELEGRAM_BOT_TOKEN="Ваш_Токен"

# Відправте боту будь-яке повідомлення, потім дізнайтесь свій ID (наприклад, через @userinfobot)
TELEGRAM_CHAT_ID="Ваш_ID"
